<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  <link rel="stylesheet" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
  <title>Phil&Camil Flix | Simplo.co</title>
</head>
<body>
	<header class="cd-main-header text-center flex flex-column flex-center">
    <h1>Formation Développeur web & Web mobile</h1>
    <p class="margin-top-sm">👈<a class="color-inherit" href="https://codyhouse.co/gem/vertical-timeline/">Article &amp; Download</a></p>
  </header>

  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">

    
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="{{ asset('img/cd-icon-picture.svg') }}" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Camile (of) Course</h2>
          <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Jan 14</span>
            <a href="#0" class="btn btn--subtle">Read more</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="{{ asset('img/cd-icon-movie.svg')}}" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Phil Good: Symfony Intro</h2>
          <p class="color-contrast-medium">Introduction Symfony, templates, routes, application d'un theme basic HTML et best practice, public, private</p>
          
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">16 Juin</span>
            <a href=" http://did.lefebvre.conseil.online.fr/videos/GMT20210616-071103_Recording_1920x1080.mp4" class="btn btn--primary">Matin</a><a href="http://did.lefebvre.conseil.online.fr/videos/GMT20210616-121332_Recording_1920x1080.mp4" class="btn btn--primary">Après-midi</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
         <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="{{ asset('img/cd-icon-movie.svg')}}" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Phil Good: Symphony 1st Project</h2>
          <p class="color-contrast-medium">Premier projet sur Symphony</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">17 Juin</span>
            <a href=" http://did.lefebvre.conseil.online.fr/videos/GMT20210617-071658_Recording_1920x1080.mp4" class="btn btn--primary">Matin</a><a href="http://did.lefebvre.conseil.online.fr/videos/GMT20210617-113219_Recording_1760x900.mp4." class="btn btn--primary">Après-midi</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="{{ asset('img/cd-icon-movie.svg')}}" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Phil Good: Entity Maze P1</h2>
          <p class="color-contrast-medium">Création d'Entity sour Symfony</p>
        
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">18 Juin</span>
            <a href="http://did.lefebvre.conseil.online.fr/videos/GMT20210618-070620_Recording_1920x1080.mp4" class="btn btn--primary">Matin</a><a href="http://did.lefebvre.conseil.online.fr/videos/GMT20210618-113133_Recording_1920x1080.mp4" class="btn btn--primary">Après-midi</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="{{ asset('img/cd-icon-location.svg')}}" alt="Location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Camile (of) Course: P1</h2>
          <p class="color-contrast-medium">Technonite Partie 1, création de l'entete, navbar, login, logout, register, vue conditionnelle et sécurisation de vue.</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">21 Juin</span>
            <a href="#0" class="btn btn--subtle">Read more</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="{{ asset('img/cd-icon-movie.svg')}}" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Phil Good: Entity Maze P2</h2>
          <p class="color-contrast-medium">MCD et relation ManyToMany est la gestion sous Symfony</p>
        
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">22 Juin</span>
            <a href=" http://did.lefebvre.conseil.online.fr/videos/GMT20210622-072320_Recording_1366x768.mp4" class="btn btn--primary">Matin</a><a href="http://did.lefebvre.conseil.online.fr/videos/GMT20210622-115447_Recording_1366x768.mp4" class="btn btn--primary">Après-midi</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->
    </div>
  </section> <!-- cd-timeline -->
  <script src="{{ asset('js/main.js')}}"></script>
</body>
</html>